ul{
    margin: 0;
    padding: 0;
}

h1 {
    color:#CC0237 ;
    font-size:60px;
    text-decoration:;
    font-family: Felix Titling;
    text-align: center;
    margin-top: 80px;
    
}

       



h2 {
    font-family: Georgia;
    font-size:25px;
    margin-top: 90px;
    text-align:center;     
    
}

h3 {
    color: black ;
    font-size:25px;
    font-family: Cheddar Jack;
    text-align: center;
     
}

h4{
    color:#CC0237 ;
    font-family: Felix Titling;
    font-size:18px;
    text-align: center;
}

header a {
    color: white;
    font-family: Orator Std;
    text-decoration: none;
}


header li {
    text-align: center;
    display:inline-block;
	width: 33%;
    background-color: black;
    
    

}

p {font-family: Georgia;
    font-size:15px;
    text-align:center;
}
    
.img-center{
    display: block;
    margin: auto;
}


.active {
 color: #CC0237   
}

main {
    max-width: 980px;
    margin: auto;
}

.main-center{
text-align: center;
    width: 33%;
}


.image-small:hover {
 width: 300px;
    
}

body {
    background-image: url(images/fond.jpg);
    background-size:112% auto;
    
   
}

blockquote { 
margin-top: 90px;
}